// "'ss03' on, 'ss04' on, 'ss05' on, 'cv01' on, 'cv02' on, 'cv06' on, 'cv08' on"

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "CommitMonoNatural";
    src: url("/fonts/CommitMono-VariableFont.woff2") format("woff2-variations"),
      url("/fonts/CommitMono-VariableFont.ttf") format("truetype");
    font-display: swap;
    font-feature-settings: "ss03" on, "ss04" on, "ss05" on, "cv01" on, "cv02" on,
      "cv06" on, "cv08" on;
  }
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "CommitMonoNatural";
    src: url("/fonts/CommitMono-400-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "CommitMonoNatural";
    src: url("/fonts/CommitMono-400-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
}
